.member h3 span {
  display: inline-block;
}

.cardheader {
  display: flex;
  align-items: flex-start;
}

.cardimg {
  border-radius: 5px;
  position: relative;
  margin-right: 24px;
  width: 160px;
  height: 160px;
  position: relative;
}

.member h3 picture {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}
